ion-pane(ng-controller="CardsCtrl")

  ion-header-bar(class="bar-default")
    //- img(src="images/greyhound.gif" alt="greyhound - faster video" style="text-align:center" class="center")
    h1.center Greyhound

    td-cards
      td-card(ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-swipe-left="cardSwipedLeft($index)" on-swipe-right="cardSwipedRight($index)" on-partial-swipe="cardPartialSwipe(amt)" class="card-{{$index}}")
        div(class="image" ng-controller="CardCtrl")
          div(class="no-text") NOPE
          //- This works.
          //- img(ng-src="{{card.data.thumbnail}}")
          img(ng-src="{{card.data.url}}")
          //- .embed(ng-bind-html="{{card.data.media_embed.content}}")
          div(class="yes-text") LIKE