extends layout

block content
  h1= 'New to Greyhound? Let\'s get started.'

  p.hot Want to see what's hot?

  a(href="/watch" class="btn btn-default") Watch

  .youtube
    h3 Maybe, want to browse things from your favorite YouTube user?

    form.search-user.form-inline
      .form-group
        input(name="user" class="form-control" placeholder="whyisjake or PewDiePie")
      &nbsp;
      .form-group
        input(type="submit" class="btn btn-default")

    h4.suggest Or search for something cool?

    form.search-youtube.form-inline
      .form-group
        input(name="search" type="search" class="form-control" placeholder="Search")
      &nbsp;
      .form-group
        input(type="submit" class="btn btn-default")

  include cards.jade

  include form.jade
